<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>My Web Site - Edit Page</title>
    <meta name="description" content="My Web Site">
</head>

<body>
    <form method="POST" action="/edit/{{page_name}}"></form>
        <input type="text" value="{{page_name}}" name="page_name" rows = "40" cols = "100" />
        <textarea name="content">
        content {{page_name}}
        </textarea>
        {% if page_name  == "" %}
        <button type="submit">Create</button>
        {% else %}
        <button type="submit">Edit</button>
        {% endif %}
        
    </form>
</body>

</html>